* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    padding: 20px;
    background-color: teal;
    color: #fff;
    height: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links a {
    color: #fff;
   
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;

}
.menu li {
    padding: 5px 14px;
    

}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;

}

#table-container {
    margin: auto;
    width: 50%;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    padding: 10px;
}

.events-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    font-family: Lato, sans-serif;
    text-align: left;
    line-height: 1.5em;
    margin: 100px 25px;
    clear: both;
}

.events-table thead tr {
    background-color: #ffffff;
    border-bottom: 2px solid black;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #8ca9a3de;
    color: #ffffff;
}

h4 {
    display: inline;
}


.back-drop {
    background: #ffffff;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .15s ease;
}

.show .back-drop {
    opacity: .9;
    pointer-events: auto;
}
#display-container div{
    margin: 0;
    /* position: absolute; */
   }
   #content {
    position: absolute;
    text-align: center;
    background-color: #a9f5d8;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

#content div{

}

#teams-details {
    display: flex;
}



input[type=checkbox] {

    display: none;
}


/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}